.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-16);
    max-width: 100%;
}

header, footer, main { grid-column: span 12; }

@media (max-width: 575px) {
    .grid-container {grid-template-columns: 1fr;}
    section, article, address {grid-column: span 1;}
}

@media (min-width: 576px) and (max-width: 767) {
    section {grid-column: span 12;}
}

@media (min-width: 768px) and (max-width: 991px) {
    section {grid-column: span 6;}
    .menu-hamburguer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    article {grid-column: span 8;}
    address {grid-column: span 4;}
    section {grid-column: span 4;}
}

@media (min-width: 1200px) {
    .grid-container { max-width: 1320px; margin: 0 auto; gap: var(--space-24); }
    article { grid-column: span 9; }
    address { grid-column: span 3; }
    section { grid-column: span 3; }
}